ion-content {
  --background: #ECECEC; /* Cor de fundo atualizada */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-image-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-photo-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  
  ion-icon {
    color: white;
    font-size: 20px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #000000; /* Letras pretas */
}

ion-card {
  margin: 16px auto; /* Centraliza os cartões horizontalmente */
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Retângulos brancos */
  width: 80%; /* Reduz ainda mais o comprimento dos retângulos */
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #000000; /* Letras pretas */
}

ion-item {
  --background: transparent;
  color: #000000; /* Letras pretas */
}

.permission-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

ion-toggle {
  --ion-color-primary: #000000;
  --ion-color-primary-contrast: #ffffff;
  --background-checked: #000000 !important;
  --handle-background-checked: #ffffff !important;
  --background: #464646 !important; /* Fundo cinzento quando desativado */
  --handle-background: #ffffff !important;
}

ion-toggle::part(track) {
  border: 1px solid #ffffff; /* Borda branca ao redor do toggle */
}

ion-toggle:checked::part(track) {
  border: 1px solid #000000; /* Borda preta ao redor do toggle quando ativado */
}
