<ion-content>
  <div class="register-container">
    <h1 class="page-title">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
      <!-- Email -->
      <ion-item class="custom-input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
        *Campo obrigatório
      </ion-note>
      <ion-note color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
        Formato de email inválido
      </ion-note>

      <!-- Palavra-passe -->
      <ion-item class="custom-input">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label position="floating">Palavra-Passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
        *Campo obrigatório
      </ion-note>

      <!-- Botão Entrar -->
      <ion-button expand="block" type="submit" class="register-button">
        Entrar
      </ion-button>
    </form>

    <!-- Link para Registo -->
    <p class="login-note">
      Não tens conta? <span class="login-link" (click)="irParaRegisto()">Regista-te</span>
    </p>
  </div>
</ion-content>
