<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quartos">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Quartos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="anomalias">
      <ion-icon name="alert-circle"></ion-icon>
      <ion-label>Anomalias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>