<ion-content>
  <div class="anomalias-container">
    <h1>Anomalias:</h1>
    <div *ngFor="let quarto of quartosComAnomalias">
      <div *ngFor="let anomalia of quarto.anomalias" 
           class="anomalia-card"
           [class.selected]="selectedAnomalia === anomalia"
           (click)="selectAnomalia(anomalia)">
        <p class="quarto-id">Quarto {{ quarto.id }}</p>
        <p class="anomalia-description" [style.color]="getSeverityColor(anomalia.severity)">
          {{ anomalia.description }}
        </p>
      </div>
    </div>
  </div>
</ion-content>